* { padding: 0; margin: 0; font-family: Helvetica; font-size: 12px; outline: none; }

.header {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: 900px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: #555;
  color: #FFF;
}

.back,
.new_button {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 900px;
  height: 20px;
}

.back a,
.new_button a {
  display: block;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  background: #DDD;
  color: #333;
}

.back a:hover,
.new_button a:hover {
  background: #EFEFEF;
}

#stores {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: 900px;
  clear: both;
}

.sort,
#stores .store {
  width: 900px;
  height: 20px;
  line-height: 20px;
  clear: both;
}

#stores .store:hover {
  background: #CCC;
}

.sort {
  margin: auto;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
}

.sort .label {
  width: 300px;
  float: left;
}

.sort .label a {
  display: block;
  width: 300px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.sort .label a:hover {
  text-decoration: underline;
}

#stores .store .data {
  width: 300px;
  float: left;
}

#stores .store .button {
  width: 100px;
  float: left;
}

#store_form {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 880px;
  background: #EFEFEF;
}

#store_form input {
  height: 20px;
  border: 1px solid #666;
}

#new_store_form .label {
  display: block;
  width: 150px;
  height: 20px;
  line-height: 20px;
}

#store_form .field {
  margin-bottom: 10px;
  width: 250px;
}

#store_form .submit {
  display: block;
  width: 100px;
}

.error {
  margin: auto;
  margin-bottom: 10px;
  width: 898px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #FE2E2E;
  background: #F6E3CE;
  color: #FE2E2E;
}

.notice {
  margin: auto;
  margin-bottom: 10px;
  width: 898px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #04B404;
  background: #CEF6CE;
  color: #04B404;
}

.store_info {
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 880px;
  background: #EFEFEF;
}

.store_info .label {
  width: 200px;
  line-height: 20px;
  font-weight: bold;
}

.store_info .value {
  margin-bottom: 10px;
  width: 200px;
  line-height: 20px;
}
