<div class="header">Welcome to Stores</div>

<div class="new_button"><%= link_to "New Store", :controller => "store", :action => "new" %></div>

<div id="stores">
  <%= render :partial => "sort" %>
  <%= render :partial => "stores" %>
</div>

<% unless flash[:notice].blank? %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
