<div class="header">Store Information</div>

<% unless flash[:notice].blank? %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="store_info">
  <div class="label">Store Name: </div>
  <div class="value"><%= @store.name %></div>
  <div class="label">Store City: </div>
  <div class="value"><%= @store.city %></div>
</div>

<div class="back"><%= link_to "Back", :controller => "store", :action => "index" %></div>
