<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css" />
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</head>
<body>
  <h1>Store</h1>
  <%= yield %>
</body>
</html>
